  <%= month_calendar(events: meetings, end_attribute: :end_time) do |date, meetings| %>
    <div class="day">
      <%= date %>
    </div>
    <% meetings.each do |meeting| %>
      <div class="meeting">
        <div class="card-title">
          <h3><%= meeting.name %></h3>
          <small><%= meeting.time unless meeting.multi_days? %></small>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= meeting.description %>
        </p>
      </div>

      <div class="card-footer">
        <p class="card-text">
        On: <%= meeting.start_time.strftime('%A, %B %d, %Y at %I:%M %p') %>
        </p>
      </div>
    <% end %>
  <% end %>
