<div id="list" data-search-groups-target="list">
  <div class="card-container">
    <p class="h3">Groups</p>
    <% @groups.each do |group| %>
      <div class="card">
        <div class="card-image">
          <%= cl_image_tag group.photo.key, width: 150, height: 150, crop: :thumb %>
        </div>
        <div class="card-title">
          <h3><%= group.title %></h3>
          <p><strong>Description</strong><%= group.description %></p>
          <p><strong>Category:</strong> <%= group.category_name %></p>
          <p><strong>City:</strong> <%= group.city_name %></p>
          <%= link_to "Join", group_path(group), class: "join-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
