<div id="group-show" class="container">

  <div class="group-card">

    <div class="group-image">
      <img alt="Default img" src="https://images.unsplash.com/photo-1434993568367-36f24aa04d2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    </div>

    <div class ="group-content">

        <div class ="iconss">
            <span class="icon"><i class="fa-regular fa-calendar"></i> <%= Date.tomorrow %></span>
            <span class="icon"><i class="fa-regular fa-message"></i> <%= rand(20..50)%></span>
            <span class="icon"><i class="fa-solid fa-location-dot"></i> <%= @group.city.name  %><span>
        </div>

        <h2 class="title"><i class="fas fa-thumbs-up"></i> <%= @group.title  %></h2>

        <p class="description"><%= @group.description %></p>

        <div class="buttonn">
            <a href="" class="bttnn">Join Group</a>
        </div>

    </div>
  </div>

    <div class="avatar-group-card">

      <h2 class="avatar-card-title">Members</h2>

        <div class="avatar-group">

          <div class="avatar">
            <img src="https://i.pinimg.com/236x/a3/ac/1e/a3ac1ed5abaedffd9947face7901e14c.jpg" alt="Image">
            <span class="avatar-name">Someone</span>
          </div>

          <div class="avatar">
            <img src="https://www.sylvain-renard.com/wp-content/uploads/2017/05/SR20160129-623.jpg" alt="Image">
            <span class="avatar-name">Sometwo</span>
          </div>

          <div class="avatar">
            <img src="https://images.unsplash.com/photo-1606122017369-d782bbb78f32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydHJhaXRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Image">
            <span class="avatar-name">Sometree</span>
          </div>

          <div class="avatar">
            <img src="https://img.freepik.com/photos-gratuite/jeune-femme-reveuse-lunettes-soleil-avant_197531-16739.jpg" alt="Image">
            <span class="avatar-name">Somrfour</span>
          </div>
          
        </div>

        <div class="avatar-btn">
            <small class="cardd-members"> <a href="" class="btn"> +99 members... See All!</a></small>
        </div>

    </div>

</div>
