<div id="ban">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("https://images.unsplash.com/photo-1532715908812-ec49a09ef7db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") %>);">
    <div class="container-tr">
      <h1>WE <span class="auto-input"></span></h1>
      <p>Change your life and learn to code  at  one of our railscampuses around the world.</p>
      <a class="d" href="#">Apply now</a>
    </div>
  </div>

  <div>
    <h1>What Are You looking for?</h1>

  </div>
   <div class="col-md-9 ">
      <!-- Search bar and search results -->
  <div data-controller="search-groups">
    <%= form_with url: groups_path, method: :get, html: {class: "mb-4", data: {search_groups_target: "form"}} do |f| %>

      <%= f.text_field :query, class: "form-control", placeholder:
                       "Type a group title", value: params[:query],
                       data: {
                          search_groups_target: "input",
                          action: "keyup->search-groups#update"
                        } %>
      <%= f.submit "Search",
      class: "btn btn-primary",
      data: {search_groups_target: "submit"} %>

    <% end %>

  </div>
</div>
 <hr>
   <div>
    <h2>Trending Groups</h2>
  </div>
  <div class="d-flex justify-content-around flex-wrap">
    <% @groups.each do | group | %>
      <div id="dd">
          <div class="container-k">
            <div class="drop" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path group.photo.key, height: 300, crop: :fit %>')"
>
              <div class="content">
                <h3><%= group.title %> </h3>
                <p><%= group.description %> </p>
                <div class="nana" >
                </div>
                <a href="" class="read">Read More</a>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>

<div class="we">
    <h1>How it Work</h1>

  <div class="container-l ">

    <div class="rowbene ">


      <div class="col-md-4 ">
        <div class="main">
          <div class="service">
            <div class="service-logo">
              <img src="https://static8.depositphotos.com/1378583/1062/v/600/depositphotos_10626144-stock-illustration-sun-human-logo.jpg" alt="">
            </div>
            <h4> Groups</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora non repellat laboriosam vero ipsum aperiam rem </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="main">
          <div class="service">
            <div class="service-logo">
            <img src="https://st2.depositphotos.com/1277743/5804/v/450/depositphotos_58044913-stock-illustration-friends-icon-design.jpg" alt="">
            </div>
            <h4> Friends</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora non repellat laboriosam vero ipsum aperiam rem </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="main">
          <div class="service">
            <div class="service-logo">
            <img src="https://thumbs.dreamstime.com/z/teamwork-children-star-group-vector-logo-school-activities-illustration-design-116982088.jpg" alt="">
            </div>
            <h4> Activity</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora non repellat laboriosam vero ipsum aperiam rem </p>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>


</div>
